<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content [ngClass]="{'mat-error': data.error}">{{data.content}}</div>
<form>
  <mat-form-field>
    <!-- Input field -->
    <!-- If same input is not allowed, check for difference between initial and current value -->
    <label>
      <input matInput
             required
             id="input-dialog-input"
             [maxLength]="data.input.maxLength? data.input.maxLength: 100"
             name="input"
             #fieldInput="ngModel"
             [(ngModel)]="input"
             [errorStateMatcher]="errorStateMatcher"
             [appForbiddenString]="data.input.sameInputAllowed !== false ? undefined : data.input.initial">
    </label>
    <!-- Input field hint -->
    <mat-hint>{{data.input.hint}}</mat-hint>
    <!-- Error when input is the same as initially -->
    <mat-error *ngIf="fieldInput.invalid && fieldInput.errors.forbiddenString">
      {{data.input.sameInputError}}
    </mat-error>
    <!-- Error input is empty -->
    <mat-error *ngIf="fieldInput.invalid && fieldInput.errors.required">
      {{data.input.emptyInputError ? data.input.emptyInputError : 'Toto pole je povinné'}}
    </mat-error>
  </mat-form-field>
  <!-- Ok / Cancel buttons -->
  <div mat-dialog-actions>
    <button mat-button type="submit" [matDialogClose]="null">Zrušit</button>
    <button mat-button type="submit" cdkFocusInitial (click)="fieldInput.control.markAsDirty();
    fieldInput.valid ? dialogRef.close(input) : $event.stopPropagation()">
      Ok
    </button>
  </div>
</form>
