<div fxFill fxLayout="column" fxLayoutAlign="space-around stretch">
  <app-toolbar-title fxFlex="48px">Seznam scénářů</app-toolbar-title>
  <div fxFlex="noshrink" fxLayout="row nowrap" fxLayoutAlign="center">
    <!-- Children list component with editButton and assignButton links -->
    <app-scenarios-list fxFlex="90" fxFlex.lt-sm="100"
                        [paginate]="paginate"
                        [displayedColumns]="['name', 'note', 'lastChange', 'actionButtons']"
                        [actionButtons]="['assign', 'edit', 'delete']">
      <div class="new-scenario-button">
        <button color="accent" mat-raised-button routerLink="./new">Nový scénář</button>
      </div>
    </app-scenarios-list>
  </div>
  <div fxFlex="5"></div>
</div>
