<div fxFlex="grow" fxLayout="column">
  <div fxLayout="row wrap" fxLayoutAlign="stretch center">
    <div *ngIf="listTitle" fxFlex.lt-md="grow" fxFlex="initial" fxFlexAlign="center" fxFlexAlign.lt-sm="start">
      <h2 class="mat-h2" [ngStyle.lt-sm]="{padding: '0 8px'}" [ngStyle]="{'padding-right': '32px'}">
        {{listTitle}}
      </h2>
    </div>
    <div fxFlex="auto">
      <!-- Filtering with category select -->
      <app-data-filtering (updateOptions)="updateOptions($event)"
                          [paginate]="paginate"
                          [count]="taskCount"
                          [pageSize]="pageSize">
        <!-- Filtering by category -->
        <app-item-select [items]="categoryItems"
                         shrinkResponsive="true"
                         placeholder="Kategorie"
                         (selectionChange)="selectCategory($event.value)">
        </app-item-select>
      </app-data-filtering>
    </div>
  </div>
  <!-- Task List -->
  <div class="task-data-list mat-body" [ngStyle.lt-sm]="{'padding': 0}" fxFlex fxLayout="row">
    <!-- Task Accordion  -->
    <mat-accordion fxFlex="noshrink">
      <!-- Task -->
      <mat-expansion-panel *ngFor="let task of tasks" (opened)="openedTask(task.taskId)">
        <mat-expansion-panel-header>
          <mat-panel-title fxFlexAlign="center">
            {{task.name}}
          </mat-panel-title>
          <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px"
               style="margin-right: 16px">
            <!-- Task categories -->
            <app-item-chips fxFlex="noshrink" [items]="filterCategories(task.categories)"></app-item-chips>
            <!-- Add Task button -->
            <button mat-button
                    matTooltip="Vybrat konfiguraci automaticky"
                    (click)="$event.stopPropagation(); onAddTaskClick(task)">
              <span style="padding-right: 4px">Auto</span>
              <mat-icon>memory</mat-icon>
            </button>
          </div>
        </mat-expansion-panel-header>
        <div>
          <!-- Expandable: Task Settings of Task-->
          <mat-list>
            <mat-list-item *ngFor="let taskSetting of filteredTaskSettings(task)">
              <div fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px">
                <div fxFlex fxFlexAlign="start center">{{taskSetting.name}}</div>
                <div>Obtížnost: {{taskSetting.difficulty}}</div>
                <!-- Add TaskSetting button -->
                <button fxFlex="initial" mat-icon-button
                        class="mat-elevation-z1"
                        matTooltip="Přidat do fronty"
                        (click)="$event.stopPropagation(); onAddTaskSettingClick(taskSetting)">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
