.action-buttons{
  padding: 16px;
  display: flex;
  justify-content: flex-end;
}

.scenario-detail-page{
  app-tasks-list{
    margin-bottom: 32px;
  }
  app-item-queue {
    margin-bottom: 16px;
  }
}
