<div fxFill fxLayout="column" fxLayoutAlign="stretch center">
  <app-toolbar-title fxFlex="initial" fxFlexAlign="stretch" back="true">Detail scénáře</app-toolbar-title>
  <!-- Flexible grid with 4 rows and 2 columns in desktop view and 5 rows, 1 column in compact view -->
  <div fxFlex="grow"
       gdAreas=" detail list | queue-header list | queue queue | buttons buttons"
       gdAreas.lt-md="detail | list | queue-header | queue | buttons" gdGap="16px"
       gdColumns="30% 70%"
       gdColumns.lt-md="100%"
       gdRows="auto auto min-content min-content"
       gdRows.lt-md="min-content auto min-content min-content min-content"
       [ngStyle]="{'width': '90%'}"
       [ngStyle.lt-sm]="{'width': '100%'}">

    <!-- Scenario detail: editable -->
    <div gdArea="detail" gdGridAlign="start" gdGridAlign.lt-md="center">
      <app-scenario-detail-edit edit="true"
                                (change)="onDetailChange()"
                                #detail [scenario]="scenario$| async">
      </app-scenario-detail-edit>
    </div>

    <!-- Task list -->
    <div gdArea="list" gdGridAlign="stretch">
      <app-tasks-list style="height: 100%"
                      listTitle="Úkoly a konfigurace"
                      [paginate]="paginate"
                      (addTaskClick)="onAddTaskClick($event)"
                      (addTaskSettingClick)="onAddTaskSettingClick($event)">
      </app-tasks-list>
    </div>

    <!-- Task(Setting) queue title -->
    <div gdArea="queue-header" gdGridAlign="start end">
      <h2 class="mat-h2" [ngStyle]="{ margin:0, padding: 0}"
          [ngStyle.lt-sm]="{padding: '0 8px'}">
        Fronta úkolů
      </h2>
    </div>

    <!-- Task(Setting) queue -->
    <div gdArea="queue" fxLayout="row" gdGridAlign="stretch center">
      <app-item-queue style="width:100%;" [items]="scenarioQueueItems"
                      [loading]="queueLoading"
                      (itemsChange)="onItemsChange($event)"></app-item-queue>
    </div>

    <!-- Save / Save As / Cancel buttons -->
    <div gdArea="buttons" style="padding:16px" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="4px">
      <mat-spinner diameter="30" *ngIf="saving"></mat-spinner>
      <button mat-button routerLink="../">Zrušit</button>
      <button mat-button id="save-as" *ngIf="!new" (click)="saveAs(detail.name, detail.note)">Uložit Jako</button>
      <button mat-raised-button id="save" color="accent" (click)="save(detail.name, detail.note)">Uložit</button>
    </div>
  </div>
</div>
