<h1 mat-dialog-title class="mat-error">{{data.title}}</h1>
<div mat-dialog-content>{{data.content}}</div>
<div mat-dialog-actions>
  <button mat-button cdkFocusInitial [matDialogClose]="true">Ok</button>
</div>

