<div fxFlex="grow" fxLayout="column">
  <div fxLayout="row wrap" fxLayoutAlign="stretch center">
    <div *ngIf="listTitle" fxFlex.lt-md="grow" fxFlex="initial" fxFlexAlign="center" fxFlexAlign.lt-sm="start">
      <h2 class="mat-h2" [ngStyle.lt-sm]="{padding: '0 8px'}" [ngStyle]="{'padding-right': '32px'}">
        {{listTitle}}
      </h2>
    </div>
    <div fxFlex="auto">
      <!-- Filtering with group select -->
      <app-data-filtering
        (updateOptions)="updateOptions($event)"
        [paginate]="paginate"
        [pageSize]="pageSize"
        [count]="childrenCount">
        <!-- Filtering by groups -->
        <app-item-select [shrinkResponsive]="true"
                         [items]="groupsItems" placeholder="Skupiny"
                         (selectionChange)="selectGroup($event.value)"></app-item-select>
        <app-item-select [shrinkResponsive]="true"
                         [items]="genderItems" placeholder="Pohlaví"
                         (selectionChange)="selectGender($event.value)"></app-item-select>
      </app-data-filtering>
    </div>
  </div>

  <app-data-table
    fxFlex="auto"
    (selectionChange)="selectionChange.emit($event)"
    (rowClick)="onChildClick($event)"
    [additionalColumns]="[
    {label: 'Pohlaví', id: 'gender', template: gender, sort: false},
    {label: 'Skupiny', id: 'groups', template: groupsTempl},
    {label: 'Věk', id: 'age', template: age, sort: true},
    {id: 'actionButtons', template: actionButtonsTemplate}]"
    [data]="children"
    [columnDefinitions]="[
    {label: 'Id', propName: 'childId', sort: true},
    {label: 'Jméno', propName: 'firstName', sort: true},
    {label: 'Příjmení', propName: 'lastName', sort: true}]"
    [displayedColumns]="displayedColumns"
    (sortChange)="onSort($event)"
    [loading]="loading"
  >
    <ng-content></ng-content>
  </app-data-table>
</div>

<!-- Additional column templates -->
<!-- Gender column template -->
<ng-template #gender let-e="e">{{e.gender | gender | titlecase}}</ng-template>

<!-- Groups column template -->
<ng-template #groupsTempl let-e="e">
  <app-item-chips [items]="filterGroups(e.groups)"></app-item-chips>
</ng-template>

<!-- Action button column template -->
<ng-template #actionButtonsTemplate let-e="e">
  <div fxFill fxLayout="row nowrap" fxLayoutGap="4px" fxLayoutAlign="end">
    <ng-container *ngFor="let button of actionButtons">

      <!-- Edit button column template -->
      <button *ngIf="button === 'edit'" matTooltip="Upravit frontu scénářů"
              mat-icon-button
              routerLink="/eduapps/{{eduappId}}/children/{{e.childId}}">
        <mat-icon>edit</mat-icon>
      </button>

    </ng-container>
  </div>
</ng-template>

<!-- Age column template -->
<ng-template #age let-e="e">{{e.dateOfBirth | age }}</ng-template>
