<mat-form-field ngClass="select-normal" [ngClass.lt-md]="{ 'select-small': shrinkResponsive }">
  <mat-select placeholder="{{placeholder}}"
              (selectionChange)="selectionChange.emit($event)"
              [(value)]="selectedId">
    <!-- Empty option (no item selected) -->
    <mat-option>--</mat-option>
    <mat-option *ngFor="let item of items" [value]="item.id">{{item.label}}</mat-option>
  </mat-select>
</mat-form-field>
