<!-- Queue item template -->
<ng-template #card let-item="item" let-idx="idx" let-isFirstItem="isFirstItem">
  <div [gdAreas]=" item.secondary ? 'img img | label delete | label-small delete': 'img img | label delete'"
       gdAlignColumns="stretch center"
       gdColumns="auto auto"
       class="queue-card-content">

    <!-- Queue item image -->
    <div gdArea="img"><img class="queue-image" src="{{item.image}}" alt="{{item.label}}"></div>

    <!-- Queue item label -->
    <div gdArea="label" class="mat-body"> {{item.label}} </div>

    <!-- Queue item secondary label -->
    <div *ngIf="item.secondary" gdArea="label-small" class="mat-small"> {{item.secondary}} </div>

    <!-- Queue item delete button -->
    <div gdArea="delete" gdGridAlign="end center">
      <button mat-icon-button matTooltip="Odstranit z fronty"
              (click)="isFirstItem? removeFirstItem() : removeItem(idx)">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
  </div>
</ng-template>


<!--Used boilerplate code from the official angular material reference-->
<!--https://material.angular.io/cdk/drag-drop-->
<!-- Row ribbon for queue -->
<div fxFill fxLayout="row nowrap" fxLayoutAlign="start stretch"
     cdkDropList cdkDropListOrientation="horizontal" class="queue-list" (cdkDropListDropped)="drop($event)">

  <!-- First Item, non draggable (only for scenario queue -> in progress label) -->
  <div *ngIf="firstItem" fxFlex="0 0 auto" class="in-progress queue-card" fxLayout="column">
    <ng-container [ngTemplateOutlet]="card"
                  [ngTemplateOutletContext]="{item: firstItem, idx: 0, isFirstItem: true}"></ng-container>
    <!-- Scenario in progress warning label -->
    <div fxFlex="auto" fxFlexAlign="end stretch" cdkDragHandle fxLayout="row" fxLayoutAlign="center center"
         class="in-progress-warning mat-elevation-z8">
      <span>ROZEHRANÝ</span>
    </div>
  </div>

  <!-- Queue items -->
  <div fxFlex="0 0 auto" *ngFor="let item of items; index as idx" class="white queue-card" cdkDrag fxLayout="column">
    <ng-container [ngTemplateOutlet]="card" [ngTemplateOutletContext]="{item: item, idx: idx}"></ng-container>
    <div fxFlex="auto" fxFlexAlign="end stretch" cdkDragHandle fxLayout="row" fxLayoutAlign="center center"
         class="queue-item-drag-handle">
      <mat-icon>drag_indicator</mat-icon>
    </div>
  </div>

  <!-- Loading -->
  <div fxFlex="auto" class="queue-empty" fxLayout="column" fxLayoutAlign="center center"
       *ngIf="loading">
    <div fxFlex="100px">
      <mat-spinner></mat-spinner>
    </div>
  </div>

  <!-- Empty queue information -->
  <div fxFlex="auto" class="queue-empty" fxLayout="column" fxLayoutAlign="center center"
       *ngIf="!loading && items && items.length === 0">
    <div fxFlex="initial">
      <mat-icon>filter_none</mat-icon>
    </div>
    <div fxFlex="initial" style="margin:0" class="mat-h3">Fronta je prázdná</div>
    <div fxFlex="initial" class="mat-body">Začněte kliknutím na
      <button mat-icon-button style="cursor: default" [disableRipple]="true">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
