<div fxFill fxLayout="column" fxLayoutAlign="stretch center">
  <app-toolbar-title fxFlex="initial" fxFlexAlign="stretch" back="true">Detail dítěte</app-toolbar-title>
  <!-- Flexible grid with 4 rows and 2 columns in desktop view and 5 rows, 1 column in compact view -->
  <div fxFlex="grow"
       gdAreas=" detail list | queue-header list | queue queue | buttons buttons"
       gdAreas.lt-md="detail | list | queue-header | queue | buttons" gdGap="16px"
       gdColumns="30% 70%"
       gdColumns.lt-md="100%"
       gdRows="auto auto min-content min-content"
       gdRows.lt-md="min-content auto min-content min-content min-content"
       [ngStyle]="{'width': '90%'}"
       [ngStyle.lt-sm]="{'width': '100%'}">

    <!-- Child detail component (image, name, etc...) -->
    <div gdArea="detail" gdGridAlign="start center" gdGridAlign.lt-md="center center">
      <app-child-detail [child]="child$ | async"
                        [groupChips]="groupChips$|async">
      </app-child-detail>
    </div>

    <!-- Scenario list component -->
    <div gdArea="list">
      <app-scenarios-list style="height: 100%"
                          listTitle="Dostupné scénáře"
                          [paginate]="paginate"
                          [displayedColumns]="['scenarioId', 'name', 'note', 'lastChange', 'actionButtons']"
                          [actionButtons]="['add']"
                          (addClick)="onAddClick($event)">
      </app-scenarios-list>
    </div>

    <!-- Scenario queue title -->
    <div gdArea="queue-header" gdGridAlign="start end">
      <div fxLayout="row" fxLayoutAlign="start center">
        <h2 class="mat-h2" [ngStyle]="{ 'margin': '0', 'padding-right': '4px'}"
            [ngStyle.lt-sm]="{margin: '0', padding: '0 8px'}">
          Fronta scénářů
        </h2>
        <button mat-icon-button (click)="onClearQueueClick()">
          <mat-icon matTooltip="Vyprázdnit frontu">delete_outline</mat-icon>
        </button>
      </div>
    </div>

    <!-- Scenario queue -->
    <div gdArea="queue" fxLayout="row" fxLayoutAlign="stretch center">
      <app-item-queue style="width:100%;"
                      [items]="scenarioQueueItems" [firstItem]="firstQueueItem"
                      [loading]="queueLoading"
                      (itemsChange)="onItemsChange($event)"
                      (firstItemRemove)="onFirstItemRemove($event)">
      </app-item-queue>
    </div>

    <!-- Save / Cancel buttons -->
    <div gdArea="buttons" style="padding:8px" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="4px">
      <!-- If saving, spinner indicator is shown -->
      <mat-spinner diameter="30" *ngIf="saving"></mat-spinner>
      <button mat-button routerLink="../">Zrušit</button>
      <button mat-raised-button color="accent" (click)="onSave()">Uložit</button>
    </div>
  </div>
</div>

