<div class="box mat-elevation-z4"
     fxFlex="grow"
     fxLayout="column"
     fxLayoutAlign="space-between stretch">

  <!-- Loading indicator -->
  <div fxFlex="grow"
       fxLayout="column"
       fxLayoutAlign="center center"
       *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

  <!-- Data table -->
  <div fxFlex fxFlex.lt-sm="auto" class="data-table" [hidden]="loading">
    <table mat-table [dataSource]="data" matSort
           matSortDisableClear="true"
           (matSortChange)="sortChange.emit($event)">

      <!-- Standard columns: Label, value and optional sorting -->
      <ng-container *ngFor="let column of columnDefinitions" [matColumnDef]="column.propName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!column.sort">{{column.label}}</th>
        <td mat-cell *matCellDef="let element">{{element[column.propName]}} </td>
      </ng-container>

      <!-- Custom columns: with custom html template -->
      <ng-container *ngFor="let column of additionalColumns" [matColumnDef]="column.id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!column.sort">{{column.label}}</th>
        <td mat-cell *matCellDef="let element">
          <ng-container [ngTemplateOutlet]="column.template" [ngTemplateOutletContext]="{e: element}">
          </ng-container>
        </td>
      </ng-container>

      <!-- CheckBox Column -->
      <!-- This section is based on the official angular material reference -->
      <!-- https://material.angular.io/components/table/overview -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [disabled]="data.length === 0"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Header definition -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row class="clickable-row"
          *matRowDef="let row; columns: displayedColumns;"
          (click)="onRowClick(row)">
      </tr>

    </table>
  </div>
  <div fxFlex="initial" fxFlexAlign="end">
    <ng-content></ng-content>
  </div>
</div>

