.box {
  border-radius: 8px;
  min-height: 300px;
}

.data-table {
  border-radius: 8px;
  overflow: auto;

  table {
    width: 100%;

    .clickable-row:hover {
      background: #f5f5f5;
      cursor: pointer;
    }

    .clickable-row:active {
      background: #eaeaea;
    }
  }
}

