<mat-toolbar fxFill fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" style="padding:4px 16px">
  <!-- Back button -->
  <button *ngIf="back" mat-icon-button [routerLink]="backRoute"><mat-icon>arrow_back</mat-icon></button>
  <div><ng-content></ng-content></div>
</mat-toolbar>
