<div fxFill fxLayout="row wrap" fxLayout.lt-sm="column wrap"
     fxLayoutAlign="start end"
     fxLayoutAlign.lt-sm="end center"
     class="mat-body"
     ngClass.gt-xs="data-filtering-padding">
  <!-- Filtering -->
  <div fxLayout="row wrap" fxLayoutGap="8px">
    <!-- Search bar -->
    <mat-form-field fxFlex="initial">
      <input matInput (keyup)="onSearch($event.target.value)" placeholder="Hledat">
    </mat-form-field>
    <!-- Custom filtering components -->
    <ng-content></ng-content>
  </div>
  <div fxFlex="auto"></div>

  <!-- Paginator -->
  <span fxShow.lt-sm="false"
        *ngIf="!paginate && count"
        fxFlexAlign="center"
        style="padding-right:8px">Počet položek: {{count}}</span>
  <mat-paginator *ngIf="paginate"
                 [pageSizeOptions]="[10, 20, 50, 100]"
                 [pageSize]="pageSize"
                 [length]="count"
                 (page)="onPageChanged($event)">
  </mat-paginator>
</div>
